* {
    background-color: whitesmoke;
    direction: rtl;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;    
}

.table {
    padding: 5px;
    text-align: center;
}

.table table tr{
    padding: 10px;
    border: solid 5px black;
    text-align: center;
}

.table table td, .table table th{
    border: solid 3px black;
    padding: 3px;
}